<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wardroba"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera" >
    </uses-feature>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.wardroba.SplashActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
            >
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.wardroba.WardrobaDashboardActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.wardroba.LoginActivity"
            android:configChanges="touchscreen|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.example.wardroba.RegisterActivity"
            android:configChanges="touchscreen|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity android:name="com.example.wardroba.ProfileEditActivity" 
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            >
        </activity>
        <activity android:name="com.example.wardroba.ProfileActivity" 
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.example.wardroba.ProfileOwnerViewFragment" 
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.example.wardroba.ProductlistActivity" 
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.example.wardroba.ProductGallery" 
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.example.wardroba.AboutUsActivity" 
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.example.wardroba.HomeActivityMain" 
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.example.wardroba.HomeActivityFragment" 
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.example.wardroba.HomeTabActivity" 
            android:screenOrientation="portrait">
     
        </activity>
        
        <activity android:name="com.example.wardroba.CommentViewActivity"
            android:screenOrientation="portrait"
            >
            
        </activity>
        <activity
            android:name="com.example.wardroba.ProductList_new"
            android:label="@string/title_activity_product_list_new" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.example.wardroba.ProductDetailFragment"
            android:label="@string/title_activity_product_detail" 
            android:screenOrientation="portrait">
        </activity>
        
        <activity android:name="com.example.wardroba.CameraViewActivity"
            android:screenOrientation="portrait"></activity>
           </application>

</manifest>
